/AirBnb_TKTTK.xlsx
/TKTTK-AB-4.xlsx
/TKTTK-AB-{selected_month}.xlsx
/TKTTK-AB.xlsx
/organized_airbnb_bookings-$4-$2024.csv
/organized_airbnb_bookings-4-2024.csv
/organized_bookings.csv
/organized_bookings.xlsx
/reservations.csv
/reservations_lodgify.csv
/TKTTK-A-4-2024.xlsx